### 1. Создание фрейма данных

DataFrame - это самая распространенная структура в pandas. Он похож на таблицу или электронную таблицу со строками и столбцами.

In [28]:
import pandas as pd

# Создание DataFrame из словаря
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)

| Action                  | What it does?                                                                       | Что делает команда?                              |
|-------------------------|-----------------------------------------------------------------------------------|----------------------------------------------------|
| `import pandas as pd`   | Imports the pandas library, which provides data structures and functions          | Импортирует библиотеку pandas, которая предоставляет структуры данных и функции |
| `data = {...}`           | Creates a dictionary with key-value pairs (column names and data)                  | Создает словарь с парами ключ-значение (имена столбцов и данные) |
| `df = pd.DataFrame(data)`| Creates a DataFrame `df` using the dictionary `data`                               | Создает фрейм данных df, используя данные словаря   |

### 2. Доступ к данным

Вы можете получить доступ к данным из DataFrame с помощью индексации, как к списку или словарю.

In [32]:
# Доступ к колонке
df['Name']

# Доступ к строке по индексу
df.iloc[0]  # Первый ряд

# Доступ к определенному элементу
df.at[0, 'Age']  # Возраст первого ряда

25

| Action             | What it does                                                              | Что делает команда?                                                                 |
|--------------------|---------------------------------------------------------------------------|------------------------------------------------------------------------------------|
| `df['Name']`       | Accesses the “Name” column and returns it as a pandas Series.             | Доступ к столбцу «Name» и возврат его как серии pandas.                           |
| `df.iloc[0]`       | Accesses the first row of the DataFrame (index starts from 0).            | Доступ к первой строке DataFrame (индексация начинается с 0).                     |
| `df.at[0, 'Age']`  | Accesses the “Age” value of the first row using label-based indexing.     | Доступ к значению «Age» первой строки с использованием индексации по метке.      |

### 3. Фильтрация данных

Вы можете фильтровать данные, применяя условия

In [35]:
# Отфильтруйте строки, в которых возраст больше 30 лет
df[df['Age'] > 30]

      Name  Age     City
2  Charlie   35  Chicago

| Action                        | What it does                                                          | Что делает команда?                                                                         |
|-------------------------------|-----------------------------------------------------------------------|--------------------------------------------------------------------------------------------|
| `df[df['Age'] > 30]`           | Filters the rows where the “Age” column value is greater than 30     | Фильтрует строки, где значение столбца «Age» больше 30                                      |

### 4. Добавление или изменение столбцов

Вы можете добавлять или изменять столбцы, присваивая значения именам столбцов

In [39]:
# Добавление нового столбца
df['Country'] = ['USA', 'USA', 'USA']

# Изменение существующего столбца
df['Age'] = df['Age'] + 1  # Увеличение возраста на 1

| Action                             | What it does                                                         | Что делает команда?                                                                             |
|------------------------------------|----------------------------------------------------------------------|-----------------------------------------------------------------------------------------------|
| `df['Country'] = [...]`            | Adds a new column “Country” to the DataFrame.                        | Добавляет новый столбец «Country» в DataFrame.                                                   |
| `df['Age'] = df['Age'] + 1`        | Modifies the “Age” column by adding 1 to each value.                 | Изменяет столбец «Age», добавляя 1 к каждому значению.                                          |

### 5. Уменьшение столбцов или строк

Вы можете удалить столбцы или строки с помощью функции drop.

In [46]:
# Удаление колонки
df.drop('Country', axis=1, inplace=True)

# Уменьшение ряда по индексу
df.drop(0, axis=0, inplace=True)

| Action                                        | What it does                                                         | Что делает команда?                                                                            |
|-----------------------------------------------|----------------------------------------------------------------------|----------------------------------------------------------------------------------------------|
| `df.drop('Country', axis=1, inplace=True)`     | Removes the “Country” column from the DataFrame.                      | Удаляет столбец «Country» из DataFrame.                                                        |
| `df.drop(0, axis=0, inplace=True)`             | Removes the first row (index 0) from the DataFrame.                   | Удаляет первую строку (индекс 0) из DataFrame.                                                 |

### 6. Сортировка данных

Вы можете сортировать данные по определенному столбцу или индексу.

In [49]:
# Сортировка по столбцу
df.sort_values('Age', ascending=False)

# Сортировка по индексу
df.sort_index(ascending=True)

      Name  Age         City
1      Bob   31  Los Angeles
2  Charlie   36      Chicago

| Action                                          | What it does                                                         | Что делает команда?                                                                            |
|-------------------------------------------------|----------------------------------------------------------------------|----------------------------------------------------------------------------------------------|
| `df.sort_values('Age', ascending=False)`        | Sorts the DataFrame by the “Age” column in descending order.         | Сортирует DataFrame по столбцу «Age» в убывающем порядке.                                    |
| `df.sort_index(ascending=True)`                 | Sorts the DataFrame by index in ascending order.                     | Сортирует DataFrame по индексу в возрастающем порядке.                                       |

### 7. Группировка данных

Группировка данных по столбцам и выполнять агрегирование (сумма, среднее и т. д.)

In [52]:
# Группировка по столбцам и вычисление среднего значения
df.groupby('City')['Age'].mean()

City
Chicago        36.0
Los Angeles    31.0
Name: Age, dtype: float64

| Action                                             | What it does                                                         | Что делает команда?                                                                            |
|----------------------------------------------------|----------------------------------------------------------------------|----------------------------------------------------------------------------------------------|
| `df.groupby('City')['Age'].mean()`                 | Groups the data by the “City” column and calculates the mean of “Age”. | Группирует данные по столбцу «City» и вычисляет среднее значение для «Age».                  |

### 8. Объединение данных

Вы можете объединить фреймы данных, объединив их на основе общего столбца

In [56]:
# Объединение двух фреймов данных
df1 = pd.DataFrame({'ID': [1, 2], 'Name': ['Alice', 'Bob']})
df2 = pd.DataFrame({'ID': [1, 2], 'Age': [25, 30]})

merged_df = pd.merge(df1, df2, on='ID')

| Action                                             | What it does                                                         | Что делает команда?                                                                            |
|----------------------------------------------------|----------------------------------------------------------------------|----------------------------------------------------------------------------------------------|
| `pd.merge(df1, df2, on='ID')`                      | Merges df1 and df2 on the common “ID” column, resulting in a new DataFrame. | Объединяет df1 и df2 по общему столбцу «ID», создавая новый DataFrame.                         |

### 9. Экспорт данных

Вы можете экспортировать данные в различные форматы файлов, такие как CSV, Excel и т. д

In [59]:
# Экспорт в CSV
df.to_csv('output.csv', index=False)

# Экспорт в Excel
df.to_excel('output.xlsx', index=False)

| Action                                        | What it does                                                         | Что делает команда?                                                                            |
|-----------------------------------------------|----------------------------------------------------------------------|----------------------------------------------------------------------------------------------|
| `df.to_csv('output.csv', index=False)`        | Saves the DataFrame to a CSV file without writing row indices.       | Сохраняет DataFrame в CSV файл без записи индексов строк.                                      |
| `df.to_excel('output.xlsx', index=False)`     | Saves the DataFrame to an Excel file without writing row indices.    | Сохраняет DataFrame в Excel файл без записи индексов строк.                                    |